<!-- <p>dashboard-nav works!</p> -->
<div class="tpnav">

    <ul>
        <a class="header1">
            <h1 class="demotext1"><span> L&T </span>Insurance</h1>
        </a>
        <li><a [routerLink]="['./contactLink']">Contact</a></li>
        <li><a [routerLink]="['/homeLink']">LogOut </a></li>
        <li><a href="#aboutnull">About</a></li>
        <li><a [routerLink]="['/updateProfileLink']">Update Profile</a></li>
        <li><a class="active" [routerLink]="['/dbLink']">Home</a></li>
    </ul>

</div>
<!-- <div class="tpnav">

    <ul>
        <a class="header1">
            <h1 class="demotext1"><span> L&T </span>Insurance</h1>
        </a>
        <li><a [routerLink]="['./contactLink']">Contact</a></li>
        <li><a [routerLink]="['/homeLink']">LogOut </a></li>
        <li><a href="#aboutnull">About</a></li>
        <li><a class="active" [routerLink]="['/updateProfileLink']">Profile</a></li>
        <li><a class="active" [routerLink]="['/dbLink']">Home</a></li>
    </ul>

</div> -->