<div class="center">
      <h1>Login</h1>
      <form #loginForm="ngForm" (ngSubmit)="updatePassword()">
        <div class="txt_field">
          <input type="text" name="userName" [(ngModel)]="login.userName" required>
          <span></span>
          <label style="font-family: 'Lora';">Username</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" [(ngModel)]="login.password" required>
          <span></span>
          <label style="font-family: 'Lora';">Password</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password" [(ngModel)]="login.password" required>
            <span></span>
            <label style="font-family: 'Lora';">Confirm Password</label>
          </div>
        
        <input type="submit" value="Update">
        <div class="signup_link" style="font-family: 'Lora';">
          Not a member? <a href="#">Signup</a>
        </div>
      </form>
    </div>


