.body{
    height: 100vh;
    background: whitesmoke;
}

/* .we-do-comment .project-btn li:hover{
	border: 1px solid red;
    display: block;
}

 .we-do-comment .project-btn .project-view{
    border:1px solid red;
    list-style: none;
}
*/
.we-do-comment .project-btn .project-view li{
    /* display: none; */
    background-color: aqua;
}
.we-do-comment .project-btn .project-view:hover +.we-do-comment .project-btn .project-view li ul{
    background-color: rgb(255, 0, 132);
}


/*-------------------------------------
			Pricing 
--------------------------------------*/
.pricing{
	padding:115px 0 78px;
}
.pricing-content {
    padding-top: 105px;
}
.price-head {
	letter-spacing: 3.5px;
}

/*pricing-box */
.pricing-box{
	background: #fcfcff;
    text-align: center;
    padding:0px 0px 40px;
    border-radius: 5px;
	margin-bottom:30px;
	opacity:.6;
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
    transition: all 0.3s linear;
}

/*pricing-header */
.pricing-header{
	background:#d87070;
	padding-top: 25px;
    padding-bottom: 28px;
    -webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
    transition: all 0.3s linear;
}
.pricing-header h2{
    font-size:24px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform:capitalize;
}
.pricing-header p{
	color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
	text-transform:capitalize;
}


/* plan-lists */
.plan-lists{
	display: inline-grid;
	margin-top: 28px;
}
.plan-lists li {
    font-size: 16px;
	line-height: 40px;
    /* color:rgb(231, 26, 26); */
	color:rgb(136, 136, 136);
	text-transform:capitalize;
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
    transition: all 0.3s linear;
}

/* packeg_p */
.packeg_p{
	color: #fff;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    padding-top: 30px;
    padding: 11px 0 11px;
    -webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
    transition: all 0.3s linear;
}
.packeg_p span {
    vertical-align: 12px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-right: 5px;
}
.project-btn.pricing-btn a{
	text-transform: capitalize;
	color: #fff;
}
.pricing-box:hover {
	box-shadow: 0px 0px 30px 0px rgba(216, 115, 115, 0.3);
    opacity: 1;
}
.project-btn.pricing-btn a:hover{
	color:#d87070;
}



.project-view {
    background: #d87070;
    border: 1px solid #d87070;
    width:185px;
    height:52px;
    line-height: 50px;
    white-space: nowrap;
   	text-align: center;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.project-view:hover {
	color: #d87070;
	background: transparent;
}/*project-btn*/



