<!-- home start -->
<app-admin-nav></app-admin-nav>
    <!-- header-slider-area start -->
    <section class="header-slider-area">
        <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">

          

           
    <!--we-do start -->
    <section class="we-do">
        <div class="container">
            <div class="we-do-details">
                <!--/.section-header-->
                <div class="we-do-carousel">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="single-we-do-box text-center">
                                <div class="we-do-description">
                                    <div class="we-do-info">
                                        <!--/.we-do-img-->
                                        <div class="we-do-topics">
                                            <h2>
                                                <a [routerLink]="['/buyLink']">
                                                    Verify Claim insurances
                                                </a>
                                            </h2>
                                        </div>
                                        <!--/.we-do-topics-->
                                    </div>
                                    <!--/.we-do-info-->
                                    <div class="we-do-comment">
                                        <p>
                                            Pending claimed insurances
                                        </p>
                                        <div class="project-btn pricing-btn text-center">
                                         <a  class="project-view" [routerLink]="['/verifyClaim']">
                                                Verify Claims
                                                
                                            </a>  
                                        </div>
                                        <!-- button close -->
                                    </div>
                                    <!--/.we-do-comment-->
                                </div>
                                <!--/.we-do-description-->
                            </div>
                            <!--/.single-we-do-box-->
                        </div>
                        <!--/.col-->
                        <div class="col-sm-4 col-xs-12">
                            <div class="single-we-do-box text-center">
                                <div class="we-do-description">
                                    <div class="we-do-info">
                                        <!--/.we-do-img-->
                                        <div class="we-do-topics">
                                            <h2>
                                                <a href="#">
                                                    Add Insurance Plan
                                                    
                                                </a>
                                            </h2>
                                        </div>
                                        <!--/.we-do-topics-->
                                    </div>
                                    <!--/.we-do-info-->
                                    <div class="we-do-comment">
                                        <p>
                                            Available insurances
                                        </p>

                                        <div class="project-btn pricing-btn text-center">
                                           
                                                <a [routerLink]="['/travelpageLink']" class="project-view">
                                                    Add Insurance Plan
                                                </a>
                                                
                                        </div>
                                        <!-- button close -->
                                        
                                    </div>
                                    <!--/.we-do-comment-->
                                </div>
                                <!--/.we-do-description-->
                            </div>
                            <!--/.single-we-do-box-->
                        </div>
                        <!--/.col-->
                        <div class="col-sm-4 col-xs-12">
                            <div class="single-we-do-box text-center">
                                <div class="we-do-description">
                                    <div class="we-do-info">
                                        <!--/.we-do-img-->
                                        <div class="we-do-topics">
                                            <h2>
                                                <a href="#">
                                                    View Claim History 
                                                </a>

                                            </h2>
                                        </div>
                                        <!--/.we-do-topics-->
                                    </div>
                                    <!--/.we-do-info-->
                                    <div class="we-do-comment">
                                        <p>
                                            Claimed Insurances
                                             </p>
                                        <div class="project-btn pricing-btn text-center">
                                            <a [routerLink]="['loginLink']" class="project-view">
                                                History
                                            </a>
                                        </div>
                                        <!-- button close -->
                                    </div>
                                    <!--/.we-do-comment-->
                                </div>
                                <!--/.we-do-description-->
                            </div>
                            <!--/.single-we-do-box-->
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                </div>
                <!--/.we-do-carousel-->
            </div>
            <!--/.we-do-details-->
        </div>
        <!--/.container-->

    </section>
    <!--/.we-do-->
    <!--we-do end-->

    <!--pricing start -->
    <section id="pricing" class="pricing">
        <div class="container">
            <div class="pricing-details">
                <div class="section-header text-center">
                    <h2 class="price-head">Current pricing table</h2>
                    <p>
                
                    </p>
                    
                </div>
                <!--/.section-header-->
                <div class="pricing-content">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h2>Silver</h2>
                                    <h3 class="packeg_p"><span>₹</span>99</h3>
                                    <p>monthly</p>
                                </div>
                                <!--/.pricing-header-->
                                <ul class="plan-lists">
                                    <li>01 </li>
                                    <li>01 </li>
                                    <li>01 </li>
                                    <li>cover</li>
                                    <li>E-Mail support</li>
                                </ul>
                                <!--/ul-->

                                <div class="project-btn pricing-btn text-center">
                                    <a href="project.html" class="project-view">
                                        Buy Now
                                    </a>
                                </div>
                                <!--/.project-btn-->
                            </div>
                            <!--/.pricing-box-->
                        </div>
                        <!--/.col-->

                        <div class="col-md-4 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h2>Gold</h2>
                                    <h3 class="packeg_p"><span>₹</span>299</h3>
                                    <p>monthly</p>
                                </div>
                                <!--/.pricing-header-->
                                <ul class="plan-lists">
                                    <li>02 </li>
                                    <li>02 </li>
                                    <li>02 </li>
                                    <li>cover</li>
                                    <li>E-Mail support</li>
                                </ul>
                                <!--/ul-->

                                <div class="project-btn pricing-btn text-center">
                                    <a href="project.html" class="project-view">
                                        Buy Now
                                    </a>
                                </div>
                                <!--/.project-btn-->
                            </div>
                            <!--/.pricing-box-->
                        </div>
                        <!--/.col-->

                        <div class="col-md-4 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h2>Dimond</h2>
                                    <h3 class="packeg_p"><span>₹</span>499</h3>
                                    <p>monthly</p>
                                </div>
                                <!--/.pricing-header-->
                                <ul class="plan-lists">
                                    <li>03 </li>
                                    <li>03 </li>
                                    <li>03 </li>
                                    <li>full cover</li>
                                    <li>E-Mail support</li>
                                </ul>
                                <!--/ul-->

                                <div class="project-btn pricing-btn text-center">
                                    <a [routerLink]="['../adminLink']" class="project-view">
                                        Buy Now 
                                    </a>
                                </div>
                                <!--/.project-btn-->
                            </div>
                            <!--/.pricing-box-->
                        </div>
                        <!--/.col-->

                        

                    </div>
                    <!--/.row-->
                </div>
                <!--/.pricing-content-->
            </div>
            <!--/.pricing-details-->
        </div>
        <!--/.container-->

    </section>
    <!--/.pricing-->
<!-- home ends -->