<!-- home start -->
<app-admin-nav></app-admin-nav>
    <!-- header-slider-area start -->
    <section class="header-slider-area">
        <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">

          

           
    <!--we-do start -->
    <section class="we-do">
        <div class="container">
            <div class="we-do-details">
                <!--/.section-header-->
                <div class="we-do-carousel">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="single-we-do-box text-center">
                                <div class="we-do-description">
                                    <div class="we-do-info">
                                        <!--/.we-do-img-->
                                        <div class="we-do-topics">
                                            <h2>
                                                <a [routerLink]="['/buyLink']">
                                                    Verify Claim insurances
                                                </a>
                                            </h2>
                                        </div>
                                        <!--/.we-do-topics-->
                                    </div>
                                    <!--/.we-do-info-->
                                    <div class="we-do-comment">
                                        <p>
                                            Pending claimed insurances
                                        </p>
                                        <div class="project-btn pricing-btn text-center">
                                         <a  class="project-view" [routerLink]="['/verifyClaim']">
                                                Verify Claims
                                                
                                            </a>  
                                        </div>
                                        <!-- button close -->
                                    </div>
                                    <!--/.we-do-comment-->
                                </div>
                                <!--/.we-do-description-->
                            </div>
                            <!--/.single-we-do-box-->
                        </div>
                        <!--/.col-->
                        <div class="col-sm-6 col-xs-12">
                            <div class="single-we-do-box text-center">
                                <div class="we-do-description">
                                    <div class="we-do-info">
                                        <!--/.we-do-img-->
                                        <div class="we-do-topics">
                                            <h2>
                                                <a href="#">
                                                    Add Insurance Plan
                                                    
                                                </a>
                                            </h2>
                                        </div>
                                        <!--/.we-do-topics-->
                                    </div>
                                    <!--/.we-do-info-->
                                    <div class="we-do-comment">
                                        <p>
                                            Available insurances
                                        </p>

                                        <div class="project-btn pricing-btn text-center">
                                           
                                                <a [routerLink]="['/travelpageLink']" class="project-view">
                                                    Add Insurance Plan
                                                </a>
                                                
                                        </div>
                                        <!-- button close -->
                                        
                                    </div>
                                    <!--/.we-do-comment-->
                                </div>
                                <!--/.we-do-description-->
                            </div>
                            <!--/.single-we-do-box-->
                        </div>
                        <!--/.col-->
                        
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                </div>
                <!--/.we-do-carousel-->
            </div>
            <!--/.we-do-details-->
        </div>
        <!--/.container-->

    </section>
    <!--/.we-do-->
    <!--we-do end-->

    