<app-dashboard-nav></app-dashboard-nav>

<body>
    <div class="main">
        <div class="Claim">
            <form id="claim" method="post">
                <h2>Claim Form </h2>
                <label>Insurance Id :</label>
                <input type="string" name="Insurance_Id " id="string" placeholder="Enter your insurance Id">
                <label> Account No : </label>
                <input type="number" name="Account_No" min="0" id="number" placeholder="Enter your account No">
                <label>Claim Amount :</label>
                <input type="number" name="Claim_Amount " min="0" id="number" placeholder="Enter claim amount">
                <label>Upload Document :</label>
                <input type="file" id="myFile" name="filename">
                <div class="SubmitBtn"><input type="submit" id="submit"></div>
            </form>
        </div>
    </div>
</body>