*{
	box-sizing: border-box;
}

html,body{
	height: 100%;
	margin: 0px;
}


nav{
	font-family: 'Montserrat',Arial, sans-serif;
}


.form-container{
	height: 100vh;
	margin: 8% 10% 10% 10%;
	font-family: 'Montserrat', Arial,sans-serif;
}

.form-header{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
#grad1{
	background-image: linear-gradient(to top,#00ffff,#ff1493);
}