<app-admin-nav></app-admin-nav>
<div class="container">	

<!-- <div class="d-flex justify-content-center">
<div class="spinner-border" role="status" >
	<span class="sr-only" id="loading">Loading...</span>
</div>
</div> -->

  <!--/.col-->
  <div class="col-sm-12 col-xs-16">
	<div class="single-we-do-box text-center">
		<div class="we-do-description">
			<div class="we-do-info">
				
				<!--/.we-do-img-->
				<div class="we-do-topics">
					<h2>
						<a >
							Verify claim
						</a>
					</h2>
				</div>
				<!--/.we-do-topics-->
			</div>
			<!--/.we-do-info-->
			<div class="we-do-comment">
				<table class="table" id='tab'>
					<thead>
					<tr>
						<th scope="col">Claim Id</th>
						<th scope="col">Reason</th>
						<th scope="col">ClaimAmount</th>
						<th scope="col">ClaimDate</th>
						<th scope="col">Status</th>
						<th scope="col">Document</th>
						
					</tr>
					</thead>
					<!-- <tbody>
					<tr >
						<td>{{data.vehiclePlanId}}</td>
						<td>{{ data.plannedAmountV }}</td>
						<td>{{ data.noOfYears }}</td>
						<td>{{ data.insuranceType }}</td>
						<td>{{ data.planType }}</td>
						<td><input type="button" class="btn1" value="Approve"></td>
					</tr>

					 "claimId": 10025,
        "reason": "Accident",
        "claimAmount": 10000,
        "claimDate": "2022-08-02",
        "approval": "Pending",
        "claimDocumentPath": null
					</tbody> -->
					<tbody>
					<tr *ngFor="let c of viewClaims" >
						<td>{{c.claimId}}</td>
						<td>{{c.reason}}</td>
						<td>{{c.claimAmount}}</td>
						<td>{{c.claimDate}}</td>
						<td>{{c.approval}}</td>
						<td><a href="http://localhost:9090/downloads/{{c.claimDocumentPath}}" target="_blank">view Document</a></td>
						<td><input type="button" class="btn1" (click)="Approve(c.claimId)" value="Approve"></td>
						<td><input type="button" class="btn2"  (click)="Reject(c.claimId)"value="Reject"></td>
			
					</tr>
					</tbody>
				</table>	
				<!-- button close -->
				
			</div>
			<!--/.we-do-comment-->
		</div>
		<!--/.we-do-description-->
	</div>
	<!--/.single-we-do-box-->
</div>
<!--/.col--></div>