<app-admin-nav></app-admin-nav>
	
<h1>Approve Claim Data</h1>
<!-- <div class="d-flex justify-content-center">
<div class="spinner-border" role="status" >
	<span class="sr-only" id="loading">Loading...</span>
</div>
</div> -->
<table class="table" id='tab'>
	<thead>
	<tr>
		<th scope="col">Name</th>
		<th scope="col">claim Amount</th>
		<th scope="col">vehicle Type</th>
		<th scope="col">reason</th>
        <th scope="col">Approve</th>
	</tr>
	</thead>
	<!-- <tbody>
	<tr >
        <td>{{data.vehiclePlanId}}</td>
		<td>{{ data.plannedAmountV }}</td>
		<td>{{ data.noOfYears }}</td>
		<td>{{ data.insuranceType }}</td>
		<td>{{ data.planType }}</td>
	</tr>
	</tbody> -->
    <tbody>
	<tr >
        <td>Raj</td>
		<td>9000</td>
		<td>twoWheeler</td>
		<td>Accident</td>
		<td><button>Approve</button></td>
	</tr>
	</tbody>
</table>	