<app-admin-nav></app-admin-nav>
<body style = "background-image: url('../assets/images/travel.jpg'); background-size:cover;">
    <div class="container">
        <div class="title">Travel Insurance Plan</div><br>
        <div class="content">
            <form #userForm="ngForm" (ngSubmit)="AddTravelPlan()" novalidate>
                
                <div class="user-details">
                    
                    <div class="input-box">
                        <span class="details" id="noOfPeople">No. of people</span>
                        <input type="number" name="noOfPeople" #people="ngModel" [class.is-invalid]="people.invalid && people.touched"
                            placeholder="Enter No. people" min="1" required [(ngModel)]="addtravelPlan.noOfPeople">
                            <small class="text-danger"
                            [class.d-none]="people.valid || people.untouched">No of people
                            Required</small>
                    </div>
                    <div class="input-box">
                        <span class="details">Travel Duration In months</span>
                        <input type="number" name="travleDuration" 
                        #planduration="ngModel"
                        [class.is-invalid]="planduration.invalid && planduration.touched"

                            placeholder="Enter travel Duration" min="1" required [(ngModel)]="addtravelPlan.travleDuration">
                            <small class="text-danger"
                            [class.d-none]="planduration.valid || planduration.untouched">Minimum 1 month travel duration
                            Required</small>
                    </div>
                    <div class="input-box">
                        <span class="details">Planned Amount</span>
                        <input type="number" name="plannedAmount" 
                            
                            placeholder="Enter planned Amount" min="10000" required #amount="ngModel" [class.is-invalid]="amount.invalid && amount.touched" [(ngModel)]="addtravelPlan.plannedAmount">
                            <small class="text-danger"
                            [class.d-none]="amount.valid || amount.untouched">minimum amount should be 10000</small>
                    </div>
                    <div class="input-box">
                        <span class="details">Travel Location</span>
                        <input type="text" name="travelLocation" #travellocation="ngModel"
                        [class.is-invalid]="travellocation.invalid && travellocation.touched"
                            placeholder="Enter travel Location" required [(ngModel)]="addtravelPlan.travelLocation">
                            <small class="text-danger"
                            [class.d-none]="travellocation.valid || travellocation.untouched">Travel Location is needed</small>
                    </div>
                    <div class="input-box">
                        <span class="details">Plan Type</span>
                        <select (blur)="validatePlan(plan.value)" (change)="validatePlan(plan.value)" #plan="ngModel" name="planType" [class.is-invalid]="planHasError && plan.touched"
                             id="dropdown" [(ngModel)]="addtravelPlan.planType"
                            >
                            <option value="default">Select Plan</option>
                            <option value="Silver">Silver</option>
                            <option value="Gold">Gold</option>
                            <option value="Diamond">Diamond</option>
                        </select>
                        <small class="text-danger" [class.d-none]="!planHasError || plan.untouched">Please Choose a
                            Plan</small>
                    </div>
                    <div class="input-box">
                        
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Submit" [disabled]="userForm.form.invalid || planHasError" >
                </div>

            </form>
        </div>
    </div>
</body>

