
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Candal&family=Lora&display=swap" rel="stylesheet">


    <div class="navbar">
        <div class="logo">
            <h1 class="logo-text"><span>L&T </span>Insurance</h1>
        </div>
        <i class="fa fa-bars menu-toggle"></i>
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact us</a>
                <!-- <i class="fa fa-chevron-down"></i>
                <ul style="left: -20px ;">
                    <li><a href="#"style="text-align:left;width: 50px;">Motor</a></li>
                <li><a href="#"style="text-align:left;width: 50px;">Travel</a></li>
                </ul> -->
            </li>
            <!-- <li><a href="#">Sign up</a></li>
            <li><a href="#">Login</a></li> -->
            <li><a href="#">
                <i class="fa fa-user "style="font-size:1em"></i>
                Log in
                <!-- <i class="fa fa-chevron-down"></i> -->
            </a>
                <ul style="right: -30px ;">
                    <li><a href="#" style="text-align:right;width: 180px;">Sign up</a></li>
                </ul>
            <!-- <ul style="right: -20px ;">
                <li><a href="#" style="text-align:right;width: 180px;">All claims</a></li>
            <li><a href="#" class="log-out" style="text-align:right;width: 180px;">Log out</a></li>
            </ul> -->
            </li>
        </ul>

    </div>
    <!-- Add components -->
    <!-- <app-login></app-login> -->
    <!-- <buy-insurance></buy-insurance> -->
    <app-admin></app-admin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="footer">
    <div class="footer-content">

        <div class="footer-section about">
            <h2 class="logo-text"><span>L&T</span>Insurance</h2>
           
                <div class="contact" style="color:  rgb(15, 6, 198);" >Reach us <br>
                    <span><i class="fa fa-phone"></i>&nbsp;123-456-789</span><br>
                    <span><i class="fa fa-envelope"></i>&nbsp;info@lntinsurance.com</span>
                </div>
                <div class="socials" style="color: rgb(15, 6, 198); padding: 8px;">Stay Connected With us <br>
                    <a href="#"><i class ="fa fa-facebook"></i></a>
                    <a href="#"><i class ="fa fa-twitter"></i></a>
                    <a href="#"><i class ="fa fa-instagram"></i></a>
                    <a href="#"><i class ="fa fa-youtube"></i></a>
                </div> 
        </div>
<div class="footer-section company">
    <h2>Company</h2>
    <br>
    <ul>
        <a href="#"><li>About us</li></a>
        <a href="#"><li>Contact us</li></a>
        <a href="#"><li>Our Products</li></a>
    </ul> 
</div>
<div class="footer-section resources">
    <h2>Resources</h2>
    <br>
    <ul>
        <a href="#"><li>Blogs</li></a>
        <a href="#"><li>FAQs</li></a>
    </ul> 
</div>

<div class="footer-section services">
    <h2>Services</h2>
    <br>
    <ul>
        <a href="#"><li>Buy Insurance</li></a>
        <a href="#"><li>Renew Insurance</li></a>
        <a href="#"><li>Claim Insurance</li></a>
        <a href="#"><li>Calculate Premium amount</li></a>
        
    </ul> 
</div>
<!-- <div class="footer-section contact-form">
    <h2>Contact Us</h2>
    <br>
    <form action="post">
        <input type="email" name ="email" class="text-input contact-input" placeholder="You email address">
        <textarea name="message" class="text-input contact-input" placeholder="Enter message"></textarea>
        <button type="submit" class="btn btn-big">Send</button>
    </form> 
</div> -->
    </div>


<div class="footer-bottom">
    2022, L&T General Insurance Company Limited, all rights reserved. <br>
    Registered Office : Peninsula Business Park, Tower A, 15th Floor, G.K.Marg, Lower Parel, Mumbai - 400 013, Maharashtra, India. <br>
    CINNumber : Y58110MH2000PCL789065. <br>
    Registered with IRDA of India Regn. No. 156. Category of Certificate of Registration: General Insurance. Insurance is the subject matter of the solicitation. <br>
    For more details on benefits, exclusions, limitations, terms and conditions, please read sales brochure / policy wording carefully before concluding a sale. <br>
    Toll Free Number : 1800 266 7780 / 1800 22 9966. 
    <br> 
    Email Id – customersupport@lntinsurance.com.

   
       <p> © 2022 Larsen & Toubro Infotech Limited</p>
    
</div>



<!-- footer -->
  <!-- <div class="footer">
    <div class="footer-content">
<div class="footer-section about"></div>
<div class="footer-section links"></div>
<div class="footer-section contact-form"></div>
</div>
<div class="footer-bottom">
© 2022 Larsen & Toubro Infotech Limited
</div>
  </div> -->
<!-- /footer -->