
<!-- <a>home nav works</a> -->
<div class="tpnav">
    
    <ul><a>


    </a><a class="header1"><h1 class="demotext1"><span> L&T </span>Insurance</h1></a>
        <li><a [routerLink]="['/contactLink']">Contact</a></li>        
        <li><a [routerLink]="['/registerLink']">Register</a></li>
        <li><a [routerLink]="['/loginLink']">Login </a></li>
        <li><a >About</a></li>
        <li><a [routerLink]="['/homeLink']">Home</a></li>
        <!-- <li><a [routerLink]="['/adminLink']">SampleAdmin </a></li> -->
      </ul>

</div>

<!-- 
    class="active"
[routerLink]="['/AboutLink']"
    href="#about"
 -->