
<!-- <a>home nav works</a> -->
<div class="header">
<div class="tpnav">
    <div class="navbar">
        <img class="banner-img" src="../assets/images/it.jpg" />
    </div>
    <h1 class="demotext1" id="LT"><span> L&T </span>Insurance</h1>
    <ul>
        <li><a [routerLink]="['/registerLink']">Register</a></li>
        <li><a [routerLink]="['/loginLink']">Login </a></li>
        <li><a [routerLink]="['/homeLink']">Home</a></li>
        <!-- <li><a [routerLink]="['/adminLink']">SampleAdmin </a></li> -->
      </ul>
    </div>
</div>

<!-- 
    class="active"
[routerLink]="['/AboutLink']"
    href="#about"
 -->