<!-- dashboard start -->
<div class="header">
<div class="tpnav">
    <div class="navbar">
        <img class="banner-img" src="../assets/images/it.jpg" />
    </div>
    <h1 class="demotext1" id="LT"><span> L&T </span>Insurance</h1>
    <ul>
        <li><a type="button" value="Go back!" onclick="history.back()">Back</a></li>
    </ul>
</div>
</div>
<!-- <app-dashboard-nav></app-dashboard-nav> -->
<!-- header-slider-area start -->
<!-- <input type="button" value="Go back!" onclick="history.back()"> -->
<!--we-do start -->
<section class="we-do">
    <div class="container">
        <div class="we-do-details">
            <!--/.col-->
            <div class="col-sm-7 col-xs-12">
                <div class="single-we-do-box ">
                    <div class="we-do-description">
                        <!--/.we-do-info-->
                        <div class="we-do-comment ">
                            <div class="container">
                                <div class="title">Vehicle Insurance</div><br>
                                <div class="content"> 
                                    <form #VehicleInsurancePlan="ngForm" (ngSubmit)="calculate_Vehicle()">
                                        <div class="user-details ">
                                            <!-- <div class="input-box">
                                                <span class="details">Vehicle Type</span>
                                                <input type="text" [(ngModel)]="VehicleInput.vehicleType" name="vehiclePlanId"
                                                    placeholder="Enter Location" required>
                                            </div> -->
                                            <div class="input-box">
                                                <span class="details " >Vehicle Type</span>
                                                <select name="vehicleType"  [(ngModel)]="VehicleInput.vehicleType" placeholder="select option">
                                                    <option value="twoWheeler">Two Wheeler</option>
                                                    <option value="fourWheeler">Four Wheeler</option>
                                                </select>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Insurance Type </span>
                                                <select name="insuranceType"
                                                        id="dropdown" [(ngModel)]="VehicleInput.insuranceType"
                            >
                            <option value="default">Select Plan</option>
                            <option value="thirdParty">Third Party</option>
                            <option value="comprehensive">Comprehensive</option>
                            <!-- <option value="Diamond">Diamond</option> -->
                        </select>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">No Of Years</span>
                                                <input type="number" [(ngModel)]="VehicleInput.noOfYears" name="noOfYears" placeholder="Enter Duration" #planduration="ngModel" [class.is-invalid]="planduration.invalid && planduration.touched" min="1" max="3" ng-model
                                                    required>
                                                    <small class="text-danger"
                                                    [class.d-none]="planduration.valid || planduration.untouched">PlanDuration between 1-3 yrs
                                                    Required</small>
                                            </div>
                                            
                                        </div>
                                        <div class="project-btn pricing-btn">
                                            <input type="submit"  class="project-view1">


                                        </div>
                                        <!-- <div>{{clickmsg}}</div> -->

                                    </form>
                                </div>
                            </div>
                            <!-- button close -->

                        </div>
                        <!--/.we-do-comment-->
                    </div>
                    <!--/.we-do-description-->
                </div>
                <!--/.single-we-do-box-->
            </div>
            <!--/.col-->


            <!--/.col-->
            <div class="col-sm-4 col-xs-12">
                <div class="single-we-do-box text-center">
                    <div class="we-do-description">
                        <div class="we-do-info">

                            <!--/.we-do-img-->
                            <div class="we-do-topics">
                                <h2>
                                    <a href="#">
                                        Calculated Vehicle Insurance
                                    </a>
                                </h2>
                            </div>
                            <!--/.we-do-topics-->
                        </div>
                        <!--/.we-do-info-->
                        <div class="we-do-comment">

                         <h1 id="plantype">{{ data.vip.planType}}</h1>
                            <ul class="plan-lists">
                                <li>{{data.message}}</li>
                                <li>Cost Rs {{ data.vip.plannedAmountV }}</li>
                                <li>validity {{ data.vip.noOfYears }} year</li>
                                <li>Insurance Type{{ data.vip.insuranceType }} </li>
                                
                            </ul>

                            <div class="project-btn pricing-btn text-center">
                                <a class="project-view2" >
                                    Calculate Vehicle Insurance
                                </a>
                            </div>
                            <!-- button close -->
                        </div>
                        <!--/.we-do-comment-->
                    </div>
                    <!--/.we-do-description-->
                </div>
                <!--/.single-we-do-box-->
            </div>
            <!--/.col-->
        </div>
    </div>
    <!--/.row-->
    <!-- home ends -->