input {

    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* .we-do {
    background-color:#444499
} */
#plantype{
    text-align: center;
    /* border: 1px solid red; */
    margin-left: 110px;
}
.details {
    /* font-weight: bold; */
    font-size: medium;
    font-size: medium;
}

#vinsurance {
    color:rgb(100, 31, 31);
}


button {
    background-color: #7370d8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

button:hover {
    /* opacity: 0.8; */
    background-color: #5350b5;
}


#vehicle {
    margin-left:230px;
    font-weight: bolder;
    font-size: x-large;
    color:brown;
}




form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

form .details {
    display: block;
    font-weight: 500;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b59b6;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: #9b59b6;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}

#dropdown {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details #dropdown input:focus,
.user-details #dropdown input:valid {
    border-color: #8a44a6;
}


/*project-btn*/
.project-btn {
    margin-top: 49px;
    letter-spacing: 1.2px;
}

.project-view1 {
    background: #7370d8;
    border: 1px solid #7370d8;
    width: 47%;
    height: 52px;
    line-height: 50px;
    white-space: wrap;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.project-view1:hover {
    color: #7370d8;
    background: transparent;
}

/*project-btn*/

.project-view2 {
    background: #7370d8;
    border: 1px solid #7370d8;
    width: 240px;
    height: 52px;
    line-height: 50px;
    white-space: wrap;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.project-view2:hover {
    color: #7370d8;
    background: transparent;
}

/*project-btn*/

.demotext1 {
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 13px 9px 20px rgba(250, 0, 0, 0);
    color: #FFFFFF;
    /* background: #FFFFFF; */
}

/* for header  */
.header {
    background-color: #110e68;
}

h1 {
    padding-left: 10px;
    margin-right: 1100px;
}

.tpnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    /* position: fixed;
    top:0; */
    width: 65px;
    height: 60px;
    margin-left: 6px;
    overflow: hidden;
    margin-bottom: 5px;
}

.tpnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

.tpnav li {
    float: right;
    display: inline-block;
}

.tpnav li a {
    display: block;
    color: rgb(192, 105, 105);
    text-align: center;
    font-weight: bold;
    padding: 19px 24px;
    text-decoration: none;

}

/* hover effect */
.tpnav li a:hover {
    background-color: #444499;
}



/* <!-- For different browsers --> .select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
} */