<!-- dashboard start -->
<app-dashboard-nav></app-dashboard-nav>
<!-- <p>dashboard works!</p> -->
    <!-- header-slider-area start -->
    <section class="header-slider-area">
        <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">

          

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="single-slide-item slide-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="single-slide-item-content">
                                        <h2>Getting insurance <br>is YOUR responsibility </h2>
                                        <p>
                                             to your family and loved ones.
                                             You may hate it but it is your responsibility
                                        </p>
                                        <button type="button" class="slide-btn">
                                            get started
                                        </button>
                                        <button type="button" class="slide-btn" [routerLink]="['/calPage']">
                                          Calculate Premium
                                        </button>

                                        <button type="button" class="slide-btn" [routerLink]="['/viewLink']">
                                            View Insurances
                                        </button>
                                        <button type="button" class="slide-btn" [routerLink]="['/viewCustomerClaim']">
                                            View Claims
                                        </button>

                                    </div><!-- /.single-slide-item-content-->
                                </div><!-- /.col-->
                            </div><!-- /.row-->
                        </div><!-- /.container-->
                    </div><!-- /.single-slide-item-->
                </div><!-- /.item .active-->
                
            </div><!-- /.carousel-inner-->

            <!-- Controls -->
           
        </div><!-- /.carousel-->

    </section><!-- /.header-slider-area-->
    <!-- header-slider-area end -->

    <!--we-do start -->
    <section class="we-do">
        <div class="container">
            <div class="we-do-details">
                <div class="section-header text-center">
                    <h2>Motor Insurance</h2>
                    <p>
                        Motor insurance is a mandatory insurance cover that every vehicle owner in India must-have. 
                        Be it a car, truck, tractor or two-wheeler, every vehicle should be secured under
                         an insurance policy of its own. Its main objective is to give complete protection 
                         against physical damage or loss sustained by the insured vehicle from natural and 
                         man-made calamities along with any third-party liabilities arising 
                         out of the insured vehicle.
                    </p>
                </div>
                <!--/.section-header-->
                <div class="we-do-carousel">
                    <div class="row" >
                        <div class="col-sm-4 col-xs-12">
                            <div class="single-we-do-box text-center">
                                <div class="we-do-description">
                                    <div class="we-do-info">
                                        <div class="we-do-img">
                                            <img src="/assets/images/home/consultency.png" alt="image of consultency" />
                                        </div>
                                        <!--/.we-do-img-->
                                        <div class="we-do-topics">
                                            <h2>
                                                <a [routerLink]="['/travelpageLink']">
                                                    Buy insurance
                                                </a>
                                            </h2>
                                        </div>
                                        <!--/.we-do-topics-->
                                    </div>
                                    <!--/.we-do-info-->
                                    <div class="we-do-comment">
                                        <p>
                                            Buying car insurance online from us saves a lot of your effort.
                                             You can access 
                                            our services from anywhere.
                                        </p>
                                        <div class="project-btn pricing-btn text-center">
                                            <a  class="project-view" [routerLink]="['/travelpageLink']">
                                                Buy insurance
                                            </a>
                                        </div>
                                        <!-- button close -->
                                    </div>
                                    <!--/.we-do-comment-->
                                </div>
                                <!--/.we-do-description-->
                            </div>
                            <!--/.single-we-do-box-->
                        </div>
                        <!--/.col-->
                        <div class="col-sm-4 col-xs-12">
                            <div class="single-we-do-box text-center">
                                <div class="we-do-description">
                                    <div class="we-do-info">
                                        <div class="we-do-img">
                                            <img src="/assets/images/home/busisness_grow.png" alt="image of business" />
                                        </div>
                                        <!--/.we-do-img-->
                                        <div class="we-do-topics">
                                            <h2>
                                                <a [routerLink]="['/renewLink']">
                                                    Re-new Insurance
                                                </a>
                                            </h2>
                                        </div>
                                        <!--/.we-do-topics-->
                                    </div>
                                    <!--/.we-do-info-->
                                    <div class="we-do-comment">
                                        <p>
                                            renew your insurance policy in just two minutes. Many insurance policy to choose from. 30+have insured.
                                        </p>

                                        <div class="project-btn pricing-btn text-center">
                                            <a [routerLink]="['/renewLink']" class="project-view">
                                                Re-New Insurance
                                            </a>
                                        </div>
                                        <!-- button close -->
                                        
                                    </div>
                                    <!--/.we-do-comment-->
                                </div>
                                <!--/.we-do-description-->
                            </div>
                            <!--/.single-we-do-box-->
                        </div>
                        <!--/.col-->
                        <div class="col-sm-4 col-xs-12">
                            <div class="single-we-do-box text-center">
                                <div class="we-do-description">
                                    <div class="we-do-info">
                                        <div class="we-do-img">
                                            <img src="/assets/images/home/support-logo.png" alt="image of support" />
                                        </div>
                                        <!--/.we-do-img-->
                                        <div class="we-do-topics">
                                            <h2>
                                                <a [routerLink]="['/claimLink']">
                                                    Had an accident? 
                                                </a>

                                            </h2>
                                        </div>
                                        <!--/.we-do-topics-->
                                    </div>
                                    <!--/.we-do-info-->
                                    <div class="we-do-comment">
                                        <p>
                                            We are here for you. Our team can take care of your car,
                                             without you having to leave your home.
                                             </p>
                                        <div class="project-btn pricing-btn text-center">
                                            <a  [routerLink]="['/claimLink']" class="project-view">
                                                Claim Insurance
                                            </a>
                                        </div>
                                        <!-- button close -->
                                    </div>
                                    <!--/.we-do-comment-->
                                </div>
                                <!--/.we-do-description-->
                            </div>
                            <!--/.single-we-do-box-->
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                </div>
                <!--/.we-do-carousel-->
            </div>
            <!--/.we-do-details-->
        </div>
        <!--/.container-->

    </section>
    <!--/.we-do-->
    <!--we-do end-->

    <!--pricing start -->
    <section id="pricing" class="pricing">
        <div class="container">
            <div class="pricing-details">
                <div class="section-header text-center">
                    <h2 class="price-head">our pricing table</h2>
                    <p>
                        Are you looking to purchase four wheeler insurance, you
                         can be sure you will find the right fit, right here
                    </p>
                    
                </div>
                <!--/.section-header-->
                <div class="pricing-content">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h2>Silver</h2>
                                    <h3 class="packeg_p"><span>₹</span>99</h3>
                                    <p>monthly</p>
                                </div>
                                <!--/.pricing-header-->
                                <ul class="plan-lists">
                                    <li>01 </li>
                                    <li>01 </li>
                                    <li>01 </li>
                                    <li>cover</li>
                                    <li>E-Mail support</li>
                                </ul>
                                <!--/ul-->

                                <div class="project-btn pricing-btn text-center">
                                    <a href="project.html" class="project-view">
                                        Buy Now
                                    </a>
                                </div>
                                <!--/.project-btn-->
                            </div>
                            <!--/.pricing-box-->
                        </div>
                        <!--/.col-->

                        <div class="col-md-4 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h2>Gold</h2>
                                    <h3 class="packeg_p"><span>₹</span>299</h3>
                                    <p>monthly</p>
                                </div>
                                <!--/.pricing-header-->
                                <ul class="plan-lists">
                                    <li>02 </li>
                                    <li>02 </li>
                                    <li>02 </li>
                                    <li>cover</li>
                                    <li>E-Mail support</li>
                                </ul>
                                <!--/ul-->

                                <div class="project-btn pricing-btn text-center">
                                    <a href="project.html" class="project-view">
                                        Buy Now
                                    </a>
                                </div>
                                <!--/.project-btn-->
                            </div>
                            <!--/.pricing-box-->
                        </div>
                        <!--/.col-->

                        <div class="col-md-4 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h2>Dimond</h2>
                                    <h3 class="packeg_p"><span>₹</span>499</h3>
                                    <p>monthly</p>
                                </div>
                                <!--/.pricing-header-->
                                <ul class="plan-lists">
                                    <li>03 </li>
                                    <li>03 </li>
                                    <li>03 </li>
                                    <li>full cover</li>
                                    <li>E-Mail support</li>
                                </ul>
                                <!--/ul-->

                                <div class="project-btn pricing-btn text-center">
                                    <a [routerLink]="['../adminLink']" class="project-view">
                                        Buy Now 
                                    </a>
                                </div>
                                <!--/.project-btn-->
                            </div>
                            <!--/.pricing-box-->
                        </div>
                        <!--/.col-->

                        

                    </div>
                    <!--/.row-->
                </div>
                <!--/.pricing-content-->
            </div>
            <!--/.pricing-details-->
        </div>
        <!--/.container-->

    </section>
    <!--/.pricing-->
<!-- home ends -->
