<app-dashboard-nav></app-dashboard-nav>
<div class="container">	
  <div class="col-sm-12 col-xs-16">
	<div class="single-we-do-box text-center">
		<div class="we-do-description">
			<div class="we-do-info">
				<div class="we-do-topics">
					<!-- <h2>
						<a>
							View Insurance
						</a>
					</h2> -->
                    <div project-btn pricing-btn text-center>
                    <button type="button" class="project-view space1" (click)="getInsurances()">
                        View Insurances
                    </button>&nbsp;&nbsp;                    
                    <button type="button" class="project-view space1" (click)="getTInsurances()">
                        View Travel Insurances
                    </button></div></div>
				</div>
			</div>
			<div class="we-do-comment">
				<table class="table text-center" id='tab' >
					<thead>
					<tr>
						<th scope="col">Insurance Id</th>
						<th scope="col">Issue Date</th>
						<th scope="col">Years</th>
						<th scope="col">Amount Paid</th>
					</tr>
					</thead>
					
					<tbody class="text-center">
                        <tr *ngFor="let ins of insurances">
                            <td scope="col">{{ins.vehicleInsuranceId}}</td>
                            <td>{{ins.issueDate}}</td>
                            <td>{{ins.years}}</td>
                            <td>{{ins.amountPaidV}}</td>
                        </tr>
					</tbody>
				</table>	
			</div>
		</div>
	</div>
</div>