<app-dashboard-nav></app-dashboard-nav>
<body style = "background-image: url('../assets/images/v1insurance.jpg'); background-size:cover;">
  
    <div class="container">
        <div class="title">Vehicle Renew Insurance</div><br>
        <div class="content">
            <form  #renewvehicleinsuranceForm="ngForm" (ngSubmit)="renewInsurance()" novalidate>
                <div class="travel-details">
                    <div class="input-box">
                        <span class="details">Enter Vehicle Insurance ID</span>
                        <input type="number" name="vehicleInsuranceId" min="1000" #vid="ngModel"  [class.is-invalid]="vid.invalid && vid.touched" [(ngModel)]="renewDto.vehicleInsuranceId" placeholder="Enter Plan Duration" required/>
                        <small class="text-danger"
                        [class.d-none]="vid.valid || vid.untouched">vehicle insurance id
                        Required</small>
                    </div>
                    <div class="input-box">
                        <span class="details">Plan Duration</span>
                        <input type="number" name="planDuration" #planduration="ngModel"
                        [class.is-invalid]="planduration.invalid && planduration.touched" min="1" max="3" [(ngModel)]="renewDto.planDuration" placeholder="Enter Plan Duration" required/>
                        <small class="text-danger"
                        [class.d-none]="planduration.valid || planduration.untouched">PlanDuration between 1-3 yrs
                        Required</small>
                    </div>
                    <div class="input-box">
                        <span class="details">Plan Type</span>
                        <select (blur)="validatePlan(plan.value)" (change)="validatePlan(plan.value)" name="planType" #plan="ngModel" [class.is-invalid]="planHasError && plan.touched" id="dropdown" [(ngModel)]="renewDto.planType">
                            <option value="default">Select Plan</option>
                            <option value="Silver">Silver</option>
                            <option value="Gold">Gold</option>
                            <option value="Diamond">Diamond</option>
                        </select>
                        <small class="text-danger" [class.d-none]="!planHasError || plan.untouched">Please Choose a
                            Plan</small>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Submit">
                  </div>
            </form>
        </div>
    </div>
</body>

