<app-dashboard-nav></app-dashboard-nav>
<body>
    
    <div class="container">
        <div class="title">Vehicle Renew Insurance</div><br>
        <div class="content">
            <form  #renewvehicleinsuranceForm="ngForm" (ngSubmit)="renewInsurance()" novalidate>
                <div class="travel-details">
                    <div class="input-box">
                        <span class="details">Enter Vehicle ID</span>
                        <input type="number" name="vehicleId" min="1000" [(ngModel)]="renewDto.vehicleId" placeholder="Enter Plan Duration" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Plan Duration</span>
                        <input type="number" name="planDuration" min="1"  [(ngModel)]="renewDto.planDuration" placeholder="Enter Plan Duration" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Plan Type</span>
                        <select name="planType" id="dropdown" [(ngModel)]="renewDto.planType">
                            <option value="default">Select Plan</option>
                            <option value="Silver">Silver</option>
                            <option value="Gold">Gold</option>
                            <option value="Diamond">Diamond</option>
                        </select>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Submit">
                  </div>
            </form>
        </div>
    </div>
</body>

