<app-dashboard-nav></app-dashboard-nav>
<body style = "background-image: url('../assets/images/travel.jpg'); background-size:cover;">
    <div class="container">
        <div class="title">Travel Insurance</div><br>
        <div class="content">
            <form #regForm="ngForm" (ngSubmit)="addTravelInsurance()" novalidate>
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Location</span>
                        <input type="text" name="location" #location="ngModel"
                            placeholder="Enter Location" [(ngModel)]="buyTDto.location" required
                            [class.is-invali]="location.invalid && location.touched">
                        <small class="text-danger" [class.d-none]="location.valid || location.untouched">Location is
                            Required</small>
                    </div>
                    <div class="input-box">
                        <span class="details">Travel Start Date</span>
                        <input type="date" name="travelStartDate" #travelStartDate="ngModel" id="travelStartDate"
                            placeholder="Enter Start Date" [(ngModel)]="buyTDto.travelStartDate" required
                            [class.is-invali]="travelStartDate.invalid && travelStartDate.touched">
                            <small class="text-danger" [class.d-none]="travelStartDate.valid || travelStartDate.untouched">Start Date is
                            Required</small>
                    </div>
                    <div class="input-box">
                        <span class="details">Travel End Date</span>
                        <input type="date" name="travelEndDate" #travelEndDate="ngModel" id="travelEndDate"
                            placeholder="Enter End Date" [(ngModel)]="buyTDto.travelEndDate" required [class.is-invali]="travelEndDate.invalid && travelEndDate.touched">
                            <small class="text-danger" [class.d-none]="travelEndDate.valid || travelEndDate.untouched">End Date is Required</small>
                    </div>
                    <!-- <div class="input-box">
                        <span class="details">Amount Paid</span>
                        <input type="number" placeholder="Enter Amount Paid" required>
                    </div> -->
                    <div class="input-box">
                        <span class="details">Plan Type</span>
                        <select (blur)="validatePlan(planType.value)" (change)="validatePlan(planType.value)" name="planType" #planType="ngModel" [(ngModel)]="buyTDto.planType" id="dropdown">
                            <option value="00">Select Plan</option> 
                            <option value="Silver">Silver</option>
                            <option value="Gold">Gold</option>
                            <option value="Diamond">Diamond</option>
                        </select>
                        <small class="text-danger" [class.d-none]="!planHasError || planType.untouched">Please Choose a
                            Plan</small>
                    </div>

                    <div class="input-box">
                        <span class="details">No Of People</span>
                        <input type="number" name="noOfPeople" #people="ngModel"
                            placeholder="Enter no Of people traveling" [(ngModel)]="buyTDto.noOfPeople" required
                            [class.is-invali]="people.invalid && people.touched">
                        <small class="text-danger" [class.d-none]="people.valid || people.untouched">No of people is
                            Required</small>
                    </div>

                </div>
                <div class="button">
                    <input type="submit" [disabled]="regForm.form.invalid || planHasError" value="Submit" id="add-travel-form">
                </div>
            </form>
            <div>
                <form enctype="multipart/form-data" (submit)="ToUpload()"> <input type="file" name="pp" (change)="onFileChange($event)"> <br>
                <button type="submit" >upload</button>
                </form>
            </div>
        </div>
    </div>
</body>
