<!-- dashboard start -->
<!-- <app-dashboard-nav></app-dashboard-nav> -->

<div class="header">
    <div class="tpnav">
        <div class="navbar">
            <img class="banner-img" src="../assets/images/it.jpg" />
        </div>
        <h1 class="demotext1" id="LT"><span> L&T </span>Insurance</h1>
        <ul>
            <li><a type="button" value="Go back!" onclick="history.back()">Back</a></li>
        </ul>

    </div>
</div>

    <!-- header-slider-area start -->
    <section class="header-slider-area">
        <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">

          

           

    <!--we-do start -->
    <section class="we-do">
        <div class="container">
            <div class="we-do-details">
                <div class="section-header text-center">
                    <h2>Calculate Insurance</h2>
                    <p>
                        Motor insurance is a mandatory insurance cover that every vehicle owner in India must-have. 
                        Be it a car, truck, tractor or two-wheeler, every vehicle should be secured under
                         an insurance policy of its own. Its main objective is to give complete protection 
                         against physical damage or loss sustained by the insured vehicle from natural and 
                         man-made calamities along with any third-party liabilities arising 
                         out of the insured vehicle.
                    </p>
                </div>
                <!--/.section-header-->
                <div class="we-do-carousel"><div class="center">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="single-we-do-box text-center">
                                <div class="we-do-description">
                                    <div class="we-do-info">
                                        <div class="we-do-img">
                                            <img src="/assets/images/home/consultency.png" alt="image of consultency" />
                                        </div>
                                        <!--/.we-do-img-->
                                        <div class="we-do-topics">
                                            <h2>
                                                <a [routerLink]="['/buyLink']">
                                                    Calculate Vehicle insurance
                                                </a>
                                            </h2>
                                        </div>
                                        <!--/.we-do-topics-->
                                    </div>
                                    <!--/.we-do-info-->
                                    <div class="we-do-comment">
                                        <p>
                                            Buying car/Bike insurance online from us saves a lot of your effort.
                                             You can access 
                                            our services from anywhere.
                                        </p>
                                        <div class="project-btn pricing-btn text-center">
                                            <a  class="project-view1" [routerLink]="['/vehicleCal']">
                                                Calculate Vehicle insurance
                                            </a>
                                        </div>
                                        <!-- button close -->
                                    </div>
                                    <!--/.we-do-comment-->
                                </div>
                                <!--/.we-do-description-->
                            </div>
                            <!--/.single-we-do-box-->
                        </div>
                        <!--/.col-->
                        <div class="col-sm-6 col-xs-12">
                            <div class="single-we-do-box text-center">
                                <div class="we-do-description">
                                    <div class="we-do-info">
                                        <div class="we-do-img">
                                            <img src="/assets/images/home/busisness_grow.png" alt="image of business" />
                                        </div>
                                        <!--/.we-do-img-->
                                        <div class="we-do-topics">
                                            <h2>
                                                <a href="#">
                                                    Calculate Travel Insurance
                                                </a>
                                            </h2>
                                        </div>
                                        <!--/.we-do-topics-->
                                    </div>
                                    <!--/.we-do-info-->
                                    <div class="we-do-comment">
                                        <p>
                                            Buying Travel insurance online from us saves a lot of your effort.
                                             You can access 
                                            our services from anywhere.</p>

                                        <div class="project-btn pricing-btn text-center">
                                            <a [routerLink]="['/travelCal']" class="project-view1">
                                                Calculate Travel Insurance
                                            </a>
                                        </div>
                                        <!-- button close -->
                                        
                                    </div>
                                    <!--/.we-do-comment-->
                                </div>
                                <!--/.we-do-description-->
                            </div>
                            <!--/.single-we-do-box-->
                        </div>
                        <!--/.col-->
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.we-do-carousel-->
            </div>
            <!--/.we-do-details-->
        </div>
        <!--/.container-->

    </section>
    <!--/.we-do-->
    <!--we-do end-->
</div>
</section>

<!-- home ends -->
